
  <head>
    <link rel="stylesheet" href="/leaderboard.component.css" type="text/css">
  </head>
  
 <!--<div class="name">
<span class="header">Name</span>
<span class="stat">-0.3</span>
 <span class="sub">B</span>
 </div>
<div class ="graphics">
 <img src="" alt="Avatar">
</div>

</html>

<p>
  leaderboard works!
</p>-->
<div class ="container">
  <img>
  <p>
    <span>
    </span>
  </p>
</div>
<div class="container">
  <img>
  <p>
    <span>
    </span>
  </p>
</div>
<div class="container">
  <img>
  <p>
    <span>
    </span>
  </p>
</div>
<div class="container">
  <img>
  <p>
    <span>
    </span>
  </p>
</div>
<div class="container">
  <img>
  <p>
    <span>
    </span>
  </p>
</div>
<div class="container">
  <img>
  <p>
    <span>
    </span>
  </p>
</div>
<div class="container">
  <img>
  <p>
    <span>
    </span>
  </p>
</div>
<div class="container">
  <img>
  <p>
    <span>
    </span>
  </p>
</div>
