.modal-backdrop.fade
{
  opacity: 0.5;
}
.modal-open .modal
{
  opacity: 1;
}
table{
  border: black;
  border-style: solid;
}
@media only screen and (max-width: 600px){
table{
    font-size: 15px;
    text-align: center;
}
}

@media screen and (max-width:700px ) {
   H3 .form-control{
    width:100%;
  }
}

@media screen and (min-width:700px ) {
  .form-control{
    width:50%;
  }

  .formbutton{
    display: inline;
  }
 
  .column {
    float: left;
    width: 33%;
    padding: 10px;
    height: 900px;
    margin-top:10px;
    /* Should be removed. Only for demonstration */
  }
}

.formbutton{
  display: inline;
}