

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
</head>

<body>


  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-4 input-form">
        <button type="button" class="close" [routerLink]="['/landing']">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="text-center">Log In</h5>
        <form #f="ngForm" novalidate (ngSubmit)="login(f)">

          <div class="row">
            <div class="col-12">
              <label for="email">User Name</label>
              <input id="username" type="text" required name="username" [ngModel]="credentials.username"
                #username="ngModel" tmFocus class="form-control" placeholder="Username">

              <small [hidden]="username.valid || (username.pristine && !submitted)" class="text-danger">
                Please enter a valid Username
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="password">Password</label>
              <input id="password" type="password" required name="password" class="form-control" placeholder="Password"
                ngModel>

            </div>
          </div>
          <div class="row btn-list">
            <div class="col-12">
              <input type="submit" class="btn btn-secondary btn-block" value="Login">
            </div>
          </div>

          <p>
            <a [routerLink]="['/signup']"> Create Account</a>

          </p>
        </form>
      </div>
    </div>
    <div *ngIf="errors" class="alert alert-danger" role="alert">
      <strong>Oops!</strong> {{errors}}
    </div>
  </div>



</body>

