<!DOCTYPE html>
<div class="page">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">

  </head>
<br>
  <body>
    <br>
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-2 sidenav" id="kryesore" style="overflow-y: scroll;">
  
          <br>
          <img src="//placehold.it/100" class="avatar img-circle float-left " alt="avatar">
        </div>
  
  
  
        <div class="col-lg text-left" syle="width:100%">
          <br>
          <div class="container">
  
            <ngb-tabset>
              <ngb-tab title="Profile">
                <ng-template ngbTabContent>
                  <div class="container">
                    <ul style="list-style: none;">
                      <li>First Name:</li>
                      <br>
                      <br>
                      <li>Last Name:</li>
                      <br>
                      <br>
                      <li>Username:</li>
                      <br>
                      <br>
                      <li>Email:</li>
  
  
                    </ul>
                  </div>
                </ng-template>
              </ngb-tab>
  
  
  
              <ngb-tab title="Update Profile">
                <ng-template ngbTabContent>
                  <div class="container">
                    <div class="row m-y-2">
                      <div class="col-lg-8 push-lg-4">
                        <div class="col-md-3">
                        </div>
  
                        <div class="row">
                          <div class="col-md-9 personal-info">
                            <form class="form-horizontal" role="form">
                              <div class="form-group">
                                <label class="col-lg-3 control-label">First name:</label>
                                <div class="col-lg-8">
                                  <input class="form-control" type="text">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-lg-3 control-label">Last name:</label>
                                <div class="col-lg-8">
                                  <input class="form-control" type="text">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-lg-3 control-label">Username:</label>
                                <div class="col-lg-8">
                                  <input class="form-control" type="text">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label">Email:</label>
                                <div class="col-md-8">
                                  <input class="form-control" type="text">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label">Password:</label>
                                <div class="col-md-8">
                                  <input class="form-control" type="password">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label">Confirm password:</label>
                                <div class="col-md-8">
                                  <input class="form-control" type="password">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-8">
                                  <input type="button" class="btn btn-primary" value="Update Profile">
                                  <span></span>
                                  <input type="reset" class="btn btn-default" value="Cancel">
                                </div>
                              </div>
  
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>